.title-maldicio{
    font-size: 30px;
    color: var(--ion-color-primary-contrast);
}

.ctn-maldicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-maldicio h3{
    width: auto;
    font-size: 18px;
    text-align: center;
}

.ocultist{
    display: none;
}

.text-maldicio span{
    width: 80%;
    font-size: 30px;
}

.btn-maldicion{
    font-size: 50px;
}

.input-maldicio{
    background-color: transparent;
}

.item-maldicio{

    background-color: rgb(var(--ion-color-secondary-rgb),0.3);
}


.item-native{
    
}

.label-maldicio{
    background-color: transparent;
}

.btn-send-maldicio{
    margin: 0 10px 10px;
    width: auto;
    font-size: larger;
}